
.header {
  :global {
    .css-1a7kkix-MuiPaper-root-MuiAppBar-root {
      background: #fff;
    }
  }
}
.dialog {

  :global {
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
      width: 450px;
      border-radius: 12px;
    }
    .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
        text-align: center;
    }
    .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
      font-size: 2rem !important;
      font-weight: 700;
    }
    .css-1a1fmpi-MuiInputBase-root-MuiInput-root:before {display: none !important;}
    .css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {display: none !important;}
    .css-1z10yd4-MuiFormControl-root-MuiTextField-root {margin-bottom: 0}
    .css-ypiqx9-MuiDialogContent-root {
      padding: 0 !important;
      .css-1x51dt5-MuiInputBase-input-MuiInput-input  {
        border-radius: 8px;
        padding: 12px;
        border: none;
        background-color: #F5F7FA;
        font-size: 1.20rem;
        margin-bottom: 20px;
      }
    }
    .css-hlj6pa-MuiDialogActions-root {
      padding: 20px 24px 12px;
      justify-content: center;
      button {
        width: 100%;
        padding: 10px 32px;
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }

  .link {
    font-size: 0.9rem;
    color: #757575;
    padding-bottom: 28px;
    a {
      color: #44E371;
    }
  }
  }
  .tipsDialog {
    :global {
      .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
        width: 450px;
        border-radius: 12px;
      }
    }
  }


  .upload {
    // background: red;

    .uploadPreviewList {
      .uploadPreviewListItem {
        position: relative;
        border: 1px #D5DAE0 solid;
        border-radius: 3px;
        background-color: #F5F7FA;
        width: 100px;
        height: 100px !important;
        
        .uploadBtn {
          background-color: #D5DAE0;
          border-radius: 3px;
          color: #ADB1B8;
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          padding: 0;
          height: 100%;
          font-size: 12px;
          cursor: pointer;
        }
        .uploadPreviewImage {
          border-radius: 3px;
          width: 100px;
          height: 100px;
          cursor: pointer;
        }
        .uploadDelete {
          border-radius: 0px 0px 3px 3px;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 28px;
          color: #fff;
          background-color: rgba($color: #111111, $alpha: 0.8);
          align-items: center;
          justify-content: center;
          display: flex;
        }
        .uploadLoading {
          border-radius: 3px;
          position: absolute;
          width: 100%;
          height: 100%;
          color: #fff;
          align-items: center;
          justify-content: center;
          display: flex;
          background-color: rgba($color: #111111, $alpha: 0.8);
        }
        .uploadError {
          border-radius: 3px;
          position: absolute;
          width: 100%;
          height: 100%;
          color: #fff;
          align-items: center;
          justify-content: center;
          display: flex;
          background-color: rgba($color: #111111, $alpha: 0.8);
          flex-direction: column;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }

