

.applyForm {
    padding-bottom: 20px;
    // background: #f0f0f0;
    :global {
        .css-1vw6mcs-MuiTypography-root {
            font-weight: 800;
            margin-bottom: 8px;
        }
        .css-1wniyei-MuiTypography-root {
            padding-bottom: 14px;
        }
        .css-zow5z4-MuiGrid-root>.MuiGrid-item {
            display: flex;
            align-items: center;
        }
        // .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        //     display: flex;
        //     align-items: center;
        // }
        // .css-honmcm-MuiGrid-root>.MuiGrid-item {
        //     display: flex;
        //     align-items: center;
        //     justify-content: flex-start;
        // }
        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 100%;  
           
        }
        

}
    
    .formWrapper {
    padding: 32px;
    border-radius: 8px;
    margin-bottom: 20px;
    background: #fff;

    .formTitle {
color: #ADB1B8;
font-weight: 700;
padding-bottom: 20px;
    }

    .label {
        padding-right: 16px;
        color: #222;
        word-break: keep-all;
    }
    .required {
        position: relative;
        width: 70%;  
        &:after {
            position: absolute;
            right: -20px;
            top: 10px;
            content: "*";
            color: red;
            font-size: 1.25rem;
        }
    }
}
}